# Ignore the recipe database file
recipe_database.lbug
recipe_database.lbug.wal

# Ignore the environment variable file
*.env

#Ignore my testing file
testing.py

#Ignore whatever these do
__pycache__/
/.chainlit